Source: ros-lunar-multi-object-tracking-lidar
Section: misc
Priority: extra
Maintainer: Praveen Palanisamy <praveen.palanisamy@outlook.com>
Build-Depends: debhelper (>= 9.0.0), libpcl-dev, ros-lunar-catkin, ros-lunar-cv-bridge, ros-lunar-pcl-ros, ros-lunar-roscpp, ros-lunar-sensor-msgs, ros-lunar-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-lunar-multi-object-tracking-lidar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcl1.7, ros-lunar-cv-bridge, ros-lunar-pcl-ros, ros-lunar-roscpp, ros-lunar-sensor-msgs, ros-lunar-visualization-msgs
Description: ROS package for Multiple objects detection, tracking and classification from LIDAR scans/point-clouds
