Source: ros-indigo-multi-object-tracking-lidar
Section: misc
Priority: extra
Maintainer: Praveen Palanisamy <praveen.palanisamy@outlook.com>
Build-Depends: debhelper (>= 9.0.0), libpcl-1.7-all-dev, ros-indigo-catkin, ros-indigo-pcl-ros, ros-indigo-roscpp, ros-indigo-sensor-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-multi-object-tracking-lidar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcl-1.7-all, ros-indigo-pcl-ros, ros-indigo-roscpp, ros-indigo-sensor-msgs
Description: ROS package for Multiple objects detection, tracking and classification from LIDAR scans/point-clouds
